{% extends "district-admin/dashboard-layout.html" %}

{% block title %}
    Warning
{% endblock %}

{% block main %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Are you sure you want to delete {{ school[2] }}?</h4>
        <p>If so, click on "DELETE" button. You can't undo it. Otherwise click cancel.</p>
        <hr>
        <form action="/district-admin/{{ d_code }}/delete/school/{{ s_code }}" method="post">
            <button type="submit" style="background-color: #f44336;">DELETE</button>
        </form>
        <button type="button" onclick="window.location.replace('/district-admin/{{ d_code }}')">Cancel</button>
    </div>
{% endblock %}